@font-face {
  font-family: "Petrona";
  src: url("../fonts/Petrona-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  // max-width: 100vw;
  // width: 1440px;
  // height: 900px;
  overflow-x: hidden;
  font-family: "Gilroy", sans-serif;
  scroll-behavior: smooth;
  // overflow-y: hidden;
  --swiper-theme-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
}

body {
  color: #fff;
  background: #050010;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

.text-primary-orange {
  color: #ff563f;
}

.text-light-cyan {
  color: #9ddcff;
}

.CardAdvantagesSecond {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 32px;
}

.CardAdvantagesSecond > li::before {
  content: "\2022";
  color: #ff563f;
  width: 4px;
  height: 4px;
  margin-right: 8px;
}

.burger-active {
  animation: right-to-left-animation 0.5s ease-in-out forwards;
}

.tooltip {
  position: relative;
  cursor: pointer;
  color: #9ddcff;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  text-decoration-skip-ink: none;

  &:hover {
    text-decoration: none;
  }
}


// .tooltip::before {
//   content: attr(data-tooltip);
//   position: absolute;
//   background-color: #120421;
//   color: white;
//   padding: 24px;
//   border-radius: 16px;
//   display: none;
//   z-index: 1;

//   font-size: 15px;
//   font-weight: 500;
//   line-height: 24px;

//   width: 288px;
// }

// .tooltip:hover::before {
//   display: block;
// }
.scrollbar-track {
  background-color: rgba(235, 235, 247, 0.40) !important;
  height: 4px !important;
}
.scrollbar-thumb {
  background-color: #EBEBF7 !important;
  height: 4px !important;
}


#symbiosisTech-swiper .swiper-pagination {
  top: 540px;
  z-index: 0;
}

@keyframes right-to-left-animation {
  from {
    opacity: 0;
    transform: translateX(300%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .CardAdvantagesSecond {
    flex-direction: column;
    gap: 0px;
  }
}

