.systemSCM__card {
  width: 280px;
  height: 196px;

  &-image {
    // background-color: #120421;
    // border: 1px solid rgba(131, 33, 241, 0.24);
    border-radius: 12px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-text {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .systemSCM__card {
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 328px;
    height: 72px;

    &-image {
      background-color: transparent;
      border: 0;
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
    }
  }
}
